--index-url http://imos-artifacts.s3-website-ap-southeast-2.amazonaws.com/repo/pypi/production/
--index-url https://pypi.python.org/simple/
--trusted-host imos-artifacts.s3-website-ap-southeast-2.amazonaws.com
-e .[testing]
