logging:
  version: 1
  disable_existing_loggers: False
  formatters:
    standard:
      format: "\033[94m%(asctime)s - %(levelname)s - %(filename)s:%(lineno)d - %(funcName)s - %(message)s\033[0m"
  handlers:
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: standard
      stream: ext://sys.stdout
    file:
      class: logging.FileHandler
      level: INFO
      formatter: standard
      filename: dask_cluster.log
  loggers:
    distributed:
      level: INFO
      handlers: [console, file]
      propagate: no
    dask:
      level: INFO
      handlers: [console, file]
      propagate: no
  root:
    level: INFO
    handlers: [console, file]
  admin:
    tick:
      interval: 20ms
  scheduler:
    work-stealing: False
    allowed-failures: 1 # fail fast
  worker:
    memory:
      spill: 0.80
      pause: 0.85
      terminate: 0.95
