aiobotocore==2.25.0 ; python_version >= "3.11" and python_version < "4.0"
aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "4.0"
aiohttp==3.13.1 ; python_version >= "3.11" and python_version < "4.0"
aioitertools==0.12.0 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
alabaster==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
antlr4-python3-runtime==4.13.2 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.11.0 ; python_version >= "3.11" and python_version < "4.0"
appnope==0.1.4 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin"
asciinema==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
asciitree==0.3.3 ; python_version >= "3.11" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.11" and python_version < "4.0"
aws-sam-translator==1.101.0 ; python_version >= "3.11" and python_version < "4.0"
aws-xray-sdk==2.14.0 ; python_version >= "3.11" and python_version < "4.0"
babel==2.17.0 ; python_version >= "3.11" and python_version < "4.0"
backcall==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
backports-tarfile==1.2.0 ; python_version == "3.11"
bcrypt==5.0.0 ; python_version >= "3.11" and python_version < "4.0"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
bokeh==3.8.0 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.40.49 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.40.49 ; python_version >= "3.11" and python_version < "4.0"
branca==0.8.2 ; python_version >= "3.11" and python_version < "4.0"
build==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
cachecontrol==0.14.3 ; python_version >= "3.11" and python_version < "4.0"
cartopy==0.25.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2025.10.5 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0" and (platform_python_implementation != "PyPy" or sys_platform == "darwin")
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
cfn-lint==1.40.2 ; python_version >= "3.11" and python_version < "4.0"
cftime==1.6.5 ; python_version >= "3.11" and python_version < "4.0"
cfunits==3.3.7 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "4.0"
cleo==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.11" and python_version < "4.0"
cloudpickle==3.1.1 ; python_version >= "3.11" and python_version < "4.0"
coiled==1.127.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
comm==0.2.3 ; python_version >= "3.11" and python_version < "4.0"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "4.0"
coverage==7.11.0 ; python_version >= "3.11" and python_version < "4.0"
crashtest==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
cryptography==46.0.3 ; python_version >= "3.11" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
dask-cloudprovider==2025.9.0 ; python_version >= "3.11" and python_version < "4.0"
dask-expr==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
dask==2025.10.0 ; python_version >= "3.11" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.11" and python_version < "4.0"
deprecated==1.2.18 ; python_version >= "3.11" and python_version < "4.0"
distlib==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
distributed==2025.10.0 ; python_version >= "3.11" and python_version < "4.0"
docker==7.1.0 ; python_version >= "3.11" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "4.0"
dulwich==0.24.6 ; python_version >= "3.11" and python_version < "4.0"
fabric==3.2.2 ; python_version >= "3.11" and python_version < "4.0"
fasteners==0.20 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "emscripten"
fastjsonschema==2.21.2 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.20.0 ; python_version >= "3.11" and python_version < "4.0"
findpython==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
flask-cors==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
flask==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
folium==0.20.0 ; python_version >= "3.11" and python_version < "4.0"
fonttools==4.60.1 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2025.5.1 ; python_version >= "3.11" and python_version < "4.0"
fuzzywuzzy==0.18.0 ; python_version >= "3.11" and python_version < "4.0"
geopandas==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
gilknocker==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
graphql-core==3.2.6 ; python_version >= "3.11" and python_version < "4.0"
gsw==3.6.20 ; python_version >= "3.11" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4.0"
h2==4.3.0 ; python_version >= "3.11" and python_version < "4.0"
h5netcdf==1.7.3 ; python_version >= "3.11" and python_version < "4.0"
h5py==3.11.0 ; python_version >= "3.11" and python_version < "4.0"
hpack==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "4.0"
hyperframe==6.1.0 ; python_version >= "3.11" and python_version < "4.0"
identify==2.6.15 ; python_version >= "3.11" and python_version < "4.0"
idna==3.11 ; python_version >= "3.11" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==8.7.0 ; python_version == "3.11"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
installer==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
invoke==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
ipdb==0.13.13 ; python_version >= "3.11" and python_version < "4.0"
ipython==7.34.0 ; python_version >= "3.11" and python_version < "4.0"
ipywidgets==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
jaraco-context==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
jaraco-functools==4.3.0 ; python_version >= "3.11" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.11" and python_version < "4.0"
jeepney==0.9.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
joserfc==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
jsondiff==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
jsonpatch==1.33 ; python_version >= "3.11" and python_version < "4.0"
jsonpath-ng==1.7.0 ; python_version >= "3.11" and python_version < "4.0"
jsonpointer==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
jsonschema-path==0.3.4 ; python_version >= "3.11" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.11" and python_version < "4.0"
jupyter-core==5.9.1 ; python_version >= "3.11" and python_version < "4.0"
jupyterlab-widgets==3.0.15 ; python_version >= "3.11" and python_version < "4.0"
keyring==25.6.0 ; python_version >= "3.11" and python_version < "4.0"
kiwisolver==1.4.9 ; python_version >= "3.11" and python_version < "4.0"
lazy-object-proxy==1.12.0 ; python_version >= "3.11" and python_version < "4.0"
levenshtein==0.25.1 ; python_version >= "3.11" and python_version < "4.0"
locket==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "4.0"
matplotlib==3.10.7 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
more-itertools==10.8.0 ; python_version >= "3.11" and python_version < "4.0"
moto==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
msgpack==1.1.2 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.7.0 ; python_version >= "3.11" and python_version < "4.0"
multipart==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
narwhals==2.9.0 ; python_version >= "3.11" and python_version < "4.0"
nbformat==5.10.4 ; python_version >= "3.11" and python_version < "4.0"
netcdf4==1.6.5 ; python_version >= "3.11" and python_version < "4.0"
networkx==3.5 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.11" and python_version < "4.0"
numcodecs==0.15.1 ; python_version >= "3.11" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "4.0"
openapi-schema-validator==0.6.3 ; python_version >= "3.11" and python_version < "4.0"
openapi-spec-validator==0.7.2 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "4.0"
paramiko==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
parso==0.8.5 ; python_version >= "3.11" and python_version < "4.0"
partd==1.4.2 ; python_version >= "3.11" and python_version < "4.0"
pathable==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
pbs-installer==2025.10.14 ; python_version >= "3.11" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.11" and python_version < "4.0"
pillow==12.0.0 ; python_version >= "3.11" and python_version < "4.0"
pip-requirements-parser==32.0.1 ; python_version >= "3.11" and python_version < "4.0"
pip==25.2 ; python_version >= "3.11" and python_version < "4.0"
pkginfo==1.12.1.2 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.5.0 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
ply==3.11 ; python_version >= "3.11" and python_version < "4.0"
poetry-core==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
poetry-plugin-export==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
poetry-plugin-freeze==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
poetry-pre-commit-plugin==0.2.2 ; python_version >= "3.11" and python_version < "4.0"
poetry==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
polars-runtime-32==1.35.1 ; python_version >= "3.11" and python_version < "4.0"
polars==1.35.1 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==4.3.0 ; python_version >= "3.11" and python_version < "4.0"
prometheus-client==0.23.1 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.11" and python_version < "4.0"
propcache==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
psutil==7.1.1 ; python_version >= "3.11" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32"
py-partiql-parser==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
pyarrow==22.0.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.11" and python_version < "4.0" and (platform_python_implementation != "PyPy" or sys_platform == "darwin") and implementation_name != "PyPy"
pydantic-core==2.41.4 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.12.3 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4.0"
pynacl==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
pyogrio==0.11.1 ; python_version >= "3.11" and python_version < "4.0"
pyparsing==3.2.5 ; python_version >= "3.11" and python_version < "4.0"
pyproj==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
pyshp==3.0.2.post1 ; python_version >= "3.11" and python_version < "4.0"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-levenshtein==0.25.1 ; python_version >= "3.11" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.11" and python_version < "4.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
pywin32==311 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
rapidfuzz==3.14.1 ; python_version >= "3.11" and python_version < "4.0"
rechunker==0.5.4 ; python_version >= "3.11" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.11" and python_version < "4.0"
regex==2025.10.23 ; python_version >= "3.11" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.11" and python_version < "4.0"
responses==0.25.8 ; python_version >= "3.11" and python_version < "4.0"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "4.0"
rich==14.2.0 ; python_version >= "3.11" and python_version < "4.0"
roman-numerals-py==3.1.0 ; python_version >= "3.11" and python_version < "4.0"
rpds-py==0.27.1 ; python_version >= "3.11" and python_version < "4.0"
s3fs==2025.5.1 ; python_version >= "3.11" and python_version < "4.0"
s3path==0.6.4 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.16.2 ; python_version >= "3.11" and python_version < "4.0"
seaborn==0.13.2 ; python_version >= "3.11" and python_version < "4.0"
secretstorage==3.4.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
setuptools==80.9.0 ; python_version >= "3.11" and python_version < "4.0"
shapely==2.1.2 ; python_version >= "3.11" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
smart-open==7.4.1 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
snowballstemmer==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
sphinx-rtd-theme==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
sphinx==8.2.3 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-asciinema==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-jquery==4.1 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sympy==1.14.0 ; python_version >= "3.11" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tblib==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
termcolor==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.11" and python_version < "4.0"
tomlkit==0.13.3 ; python_version >= "3.11" and python_version < "4.0"
toolz==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
tornado==6.5.2 ; python_version >= "3.11" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "4.0"
trove-classifiers==2025.9.11.17 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.30.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.14 ; python_version >= "3.11" and python_version < "4.0"
werkzeug==3.1.3 ; python_version >= "3.11" and python_version < "4.0"
wheel==0.45.1 ; python_version >= "3.11" and python_version < "4.0"
widgetsnbextension==4.0.14 ; python_version >= "3.11" and python_version < "4.0"
windrose==1.9.2 ; python_version >= "3.11" and python_version < "4.0"
wrapt==1.17.3 ; python_version >= "3.11" and python_version < "4.0"
xarray @ git+https://github.com/lbesnard/xarray.git@2c873ac4ed5b5cb4266e5718fbcfa2f72ecab773 ; python_version >= "3.11" and python_version < "4.0"
xattr==1.3.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin"
xmltodict==1.0.2 ; python_version >= "3.11" and python_version < "4.0"
xyzservices==2025.4.0 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.22.0 ; python_version >= "3.11" and python_version < "4.0"
zarr==2.18.7 ; python_version >= "3.11" and python_version < "4.0"
zict==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.23.0 ; python_version == "3.11"
zstandard==0.25.0 ; python_version >= "3.11" and python_version < "4.0"
